<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{trend.title}}</title>
    <link rel="stylesheet" href="{{static('assets/css/amazeui.min.css')}}">
    <link rel="stylesheet" href="{{static('assets/css/petshow.css')}}">
    <link rel="stylesheet" href="{{static('assets/css/animate.min.css')}}">
    <script src="{{static('assets/js/jquery.min.js')}}"></script>
    <script src="{{static('assets/js/amazeui.min.js')}}"></script>
    <script src="{{static('assets/js/amazeui.lazyload.min.js')}}"></script>
    <script type="text/javascript" src="{{ static('assets/js/vue-2.5.16.js')}}"></script>
    <script type="text/javascript" src="{{ static('assets/js/main.js')}}"></script>
    <script type="text/javascript" src="{{ static('assets/js/axios-0.18.0.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{static('assets/css/reset.css')}}">
	<link rel="stylesheet" type="text/css" href="{{static('assets/css/main.css')}}">
    <script type="text/javascript" src="{{ static('assets/js/cookie.js')}}"></script>
    <link rel="stylesheet" href="{{static('assets/css/lb.css')}}">
  <script src="{{static('assets/js/lb.js')}}"></script>
  <script>
    window.onload = function () {
      // 轮播选项
      const options = {
        id: 'lb-1',              // 轮播盒ID
        speed: 1000,              // 轮播速度(ms)
        delay: 3000,             // 轮播延迟(ms)
        direction: 'left',       // 图片滑动方向
        moniterKeyEvent: true,   // 是否监听键盘事件
        moniterTouchEvent: true  // 是否监听屏幕滑动事件
      }
      const lb = new Lb(options);
      lb.start();
    }
    </script>
</head>
<body>
<div id="app" v-cloak>
    <header class="am-topbar am-topbar-inverse">
        <div class="amz-container">
            <h1 class="am-topbar-brand">
                <a href="#" class="am-topbar-logo">
                    <img src="{{static('assets/images/pets_logo1.png')}}" alt="">
                </a>
            </h1>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#doc-topbar-collapse-5'}">
                <span class="am-sr-only">
                    导航切换
                </span>
                <span class="am-icon-bars">
                </span>
            </button>
            <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse-5">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li >
                        <a href="/">
                            首页
                        </a>
                    </li>
                    <li >
                        <a  href="/trends/">
                            发现萌宠
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/userinfo/">
                            个人中心
                        </a>
                    </li>
                    <li><form action="/searchlist/" method="post" style="margin: auto 0;">
                        <!-- <span class="keywords"><h1>请输入关键字：</h1></span><br/> -->
                        <input type="text" id="search-text" name="q" placeholder="请输入关键字">
                        <input type="submit" id='search-button'></input>
                        <p><span class="serch_res" id='search-result'></span></p>
                    </form></li>
                </ul>
                <div class="user_login fr" style="display: block;">
                    {% if user.default_image == '' %}
                <img src="{{static('assets/images/default_avatar.jpeg')}}" alt="用户图标">
                {% else %}
                    <img src="{{ user.default_image.url }}" alt="用户图标">
                {% endif %}
{#                    <img src="{{static('assets/images/pets_logo.png')}}" class="lgin_pic">#}
                    <a href="#">用户[[ username ]]</a>
                    <a href="/logout/">退出</a>
                </div>
            </div>
        </div>
    </header>
<!-- 
    <div class="header_con">
        <div class="header">
            <a href="#" class="logo fl"><img src="../images/logo.png" alt="logo"></a>
            <div class="user_btns fr">
                <a href="javascript:;" class="login_btn">登录</a> / <a href="javascript:;" class="register_btn">注册</a>
            </div>
            <!-- 用户登录后显示下面，隐藏上面 -->
            <!-- <div class="user_login fr">
                <img src="../images/person01.png" class="lgin_pic">
                <a href="#">用户张三</a>
                <a href="#">退出</a>
            </div>
        </div>
    </div> --> 
    
    <div class="conter_con">
        <div class="detail_con fl">
            <h3>{{ trend.title }}</h3>
            <div class="detail_about clearfix">
                <span class="time_souce fl">{{time}} 来源: {{author}}</span>
                <span class="comment fr">{{trend.id}}</span>
            </div>
            {{trend.content}}
{% if images %}
<div class="lb-box" id="lb-1">
<div class="lb-content">
    {% for i in images %}
    <div class="lb-item active">
      <a href="###">
        <img src="{{ i.img.url }}" alt="picture loss">
      </a>
    </div>
    {% endfor %}
{#    <div class="lb-item">#}
{#        <a href="###">#}
{#        <img src="assets/images/lunbo2.png" alt="picture loss">#}
{#        </a>#}
{#    </div>#}
{#    <div class="lb-item">#}
{#        <a href="###">#}
{#        <img src="assets/images/lunbo3.png" alt="picture loss">#}
{#        </a>#}
{#    </div>#}
{#    <div class="lb-item">#}
{#        <a href="###">#}
{#        <img src="assets/images/lunbo2.png" alt="picture loss">#}
{#        </a>#}
{#    </div>   #}
  </div>
  <!-- 轮播标志 -->
  <ol class="lb-sign">
      {% for i in len_img %}
    <li class="active">{{ i }}</li>
      {% endfor %}
  </ol>
  <!-- 轮播控件 -->
  <div class="lb-ctrl left">＜</div>
  <div class="lb-ctrl right">＞</div>
 </div>
{% endif %}
        <form method="post" action="/commits/" class="comment_form">
            <div class="person_pic">
                {% if user.default_image == '' %}
                <img src="{{static('assets/images/default_avatar.jpeg')}}" alt="用户图标">
                {% else %}
                    <img src="{{ user.default_image.url }}" alt="用户图标">
                {% endif %}
            </div>
            <textarea placeholder="请发表您的评论" name="commit_context" class="comment_input"></textarea>
            <input name="tred_id" value="{{ trend.id }}" style="display: none">
            <input type="submit" name="" value="评 论" class="comment_sub">
        </form>


        <div class="comment_count">
            评论
        </div>
        
        <div class="comment_list_con">
            {% for i in commits %}
            <div class="comment_list">

                <div class="person_pic fl">
                    {% if i.user_id.default_image == '' %}
                <img src="{{static('assets/images/default_avatar.jpeg')}}" alt="用户图标">
                {% else %}
                    <img src="{{ i.user_id.default_image.url }}" alt="用户图标">
                {% endif %}
                </div>    
                <div class="user_name fl">{{ i.user_id.username }}</div>
                <div class="comment_text fl">
                    {{i.conent}}
                </div>
                <div class="comment_time fl">{{i.create_time}}</div>

            </div>
            {% endfor %}
           
        </div>
            
            
        </div>

    </div>
    <div class="footer" style="text-align: center;">        
        <span style="color: blanchedalmond;">Designed with <i class="fas fa-heart"></i> by catnip</span>
       
    </div></div>
    <!-- <footer class="footer text-center py-2 theme-bg-dark">		   
        		   
    </footer> -->
<script type="text/javascript" src="{{ static('assets/js/cookie.js')}}"></script>
    <script>
        $(document).ready(function(){
            $("#search-text").keyup(function(){
                var q = $("#search-text").val();                         //获取搜索框输入的值
                $.get("/searchdetail/",{'q':q}, function(data){               //参数：发送的url；传入的数据；请求成功后的调用函数（data即是试图函数返回的json格式数据）详情
                    for (var i = data.length - 1; i >= 0; i--) {        
                        $('#search-result').append(data[i]+'<br/>')      //加入到search-result部分显示
                    };
                })
            });
            $('#search-text').keydown(function(){
                $('#search-result').empty();
            })
            $('#search-text').blur(function(){
                $('#search-result').empty();
            })
        });
    </script>   
</body>
</html>