<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shouye</title>
    <link rel="shortcut icon" href="favicon.ico"> 
    <script type="text/javascript" src="{{ static('assets/js/vue-2.5.16.js')}}"></script>
    <script type="text/javascript" src="{{ static('assets/js/main.js')}}"></script>
    <script type="text/javascript" src="{{ static('assets/js/axios-0.18.0.min.js')}}"></script>
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{ static('assets/css/theme-1.css')}}">

</head>
<body>
<div id="ind" v-cloak>


    <header class="header text-center">	    
		<h1 class="blog-name pt-lg-4 mb-0"><a href="index.html">欢迎来到灵宠网</a></h1>
		<img src="{{static('assets/images/pets_logo1.png')}}"><br>
        <div v-if="username">
        欢迎您：<em>[[ username ]]</em>
            <a href="/logout/" class="quit">退出</a>
        </div>
        <div v-else >
		<a href="/login/" class="login_btn"><span style="color: black;">登录/注册</span></a>
        </div>
        <a href="/trends/">发现快乐</a>
        <!-- <form action="">
            <input type="text" name="username" placeholder="用户名" class="input_txt" autocomplete="off" v-model="username"  @click="errshow=false"><br>
            <div class="user_error">请输入5-20个字符的用户名</div>
            <input type="password" name="password" placeholder="密码" class="input_txt" v-model="password"  @click="errshow=false"><br>
            <div class="pwd_error">请输入8-12位的密码</div>
            <input type="button" value="登 录" class="input_sub" @click="fnLogin">
            <a href="register.html" class="register_btn"><span style="color: black;">立即注册</span></a>
        </form> -->
	    
    </header>






    <div class="main-wrapper">
		    <div class="container">
            <img src="{{ static('assets/img/background.jpg') }}" height="100%" width="100%">


{#			    <div class="item mb-5">#}
{#				    <div class="media">#}
{##}
{#					    <div class="media-body">#}
{#						    <h3 class="title mb-1"><a href="blog-post.html">Heading Lorem Ipsum Dolor Sit Amet</a></h3>						    #}
{#						    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>#}
{#                        <hr>#}
{#                        </div><!--//media-body-->#}
{#				    </div><!--//media-->#}
{#			    </div><!--//item-->#}
{#			    <div class="item mb-5">#}
{#				    <div class="media">#}
{##}
{#					    <div class="media-body">#}
{#						    <h3 class="title mb-1"><a href="blog-post.html">Heading Lorem Ipsum Dolor Sit Amet</a></h3>						    #}
{#						    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>#}
{#                        <hr>#}
{#                        </div><!--//media-body-->#}
{#				    </div><!--//media-->#}
{#			    </div><!--//item-->		    #}
{#			    <div class="item mb-5">#}
{#				    <div class="media">#}
{##}
{#					    <div class="media-body">#}
{#						    <h3 class="title mb-1"><a href="blog-post.html">Heading Lorem Ipsum Dolor Sit Amet</a></h3>						    #}
{#						    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>#}
{#                        <hr>#}
{#                        </div><!--//media-body-->#}
{#				    </div><!--//media-->#}
{#			    </div><!--//item-->#}
{#			    <div class="item mb-5">#}
{#				    <div class="media">#}
{##}
{#					    <div class="media-body">#}
{#						    <h3 class="title mb-1"><a href="blog-post.html">Heading Lorem Ipsum Dolor Sit Amet</a></h3>						    #}
{#						    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>#}
{#                        <hr>#}
{#                        </div><!--//media-body-->#}
{#				    </div><!--//media-->#}
{#			    </div><!--//item-->#}
{##}
{#			    <div class="item mb-5">#}
{#				    <div class="media">#}
{##}
{#					    <div class="media-body">#}
{#						    <h3 class="title mb-1"><a href="blog-post.html">Heading Lorem Ipsum Dolor Sit Amet</a></h3>						    #}
{#						    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>#}
{#                        <hr>#}
{#                        </div><!--//media-body-->#}
{#				    </div><!--//media-->#}
{#			    </div><!--//item-->#}
{##}
{#			    <div class="item mb-5">#}
{#				    <div class="media">#}
{##}
{#					    <div class="media-body">#}
{#						    <h3 class="title mb-1"><a href="blog-post.html">Heading Lorem Ipsum Dolor Sit Amet</a></h3>						    #}
{#						    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>#}
{#                        <hr>#}
{#                        </div><!--//media-body-->#}
{#				    </div><!--//media-->#}
{#			    </div><!--//item-->#}
<!--
			    <nav class="blog-nav nav nav-justified my-5">
				  <a class="nav-link-prev nav-item nav-link rounded-left" href="index.html">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				  <a class="nav-link-next nav-item nav-link rounded-right" href="blog-list.html">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
				</nav>				 -->
		    </div>
	   
	    
	    <footer class="footer text-center py-2 theme-bg-dark">
		   
	        <small class="copyright">Designed with <i class="fas fa-heart"></i> by catnip </small>		   
	    </footer>    
    </div><!--//main-wrapper-->
</div>
<script src="{{static('assets/js/index.js')}}"></script>

    <!-- Javascript -->          
    <script src="{{static('assets/plugins/jquery-3.3.1.min.js')}}"></script>
    <script src="{{static('assets/plugins/popper.min.js')}}"></script>
    <script src="{{static('assets/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
    
    <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
    <script src="{{static('assets/js/demo/style-switcher.js')}}"></script>

</body>
</html>