<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    <link rel="stylesheet" href="{{static('assets/css/amazeui.min.css')}}">
    <link rel="stylesheet" href="{{static('assets/css/petshow.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static('assets/css/reset.css')}}">
	<link rel="stylesheet" type="text/css" href="{{static('assets/css/main.css')}}">
	<script type="text/javascript" src="{{static('assets/js/jquery-1.12.4.min.js')}}"></script>
  <script type="text/javascript" src="{{static('assets/js/jquery.form.min.js')}}"></script>
  <script type="text/javascript" src="{{static('assets/js/detail.js')}}"></script>
    <script type="text/javascript" src="{{static('assets/js/main.js')}}"></script>
    <link rel="stylesheet" href="{{static('assets/css/lb.css')}}">
  <script src="{{static('assets/js/lb.js')}}"></script>
  <script>
    window.onload = function () {
      // 轮播选项
      const options = {
        id: 'lb-1',              // 轮播盒ID
        speed: 1000,              // 轮播速度(ms)
        delay: 3000,             // 轮播延迟(ms)
        direction: 'left',       // 图片滑动方向
        moniterKeyEvent: true,   // 是否监听键盘事件
        moniterTouchEvent: true  // 是否监听屏幕滑动事件
      }
      const lb = new Lb(options);
      lb.start();
    }
    </script>
</head>
<body>
<div id="app" v-cloak>
   <header class="am-topbar am-topbar-inverse">
        <div class="amz-container">
            <h1 class="am-topbar-brand">
                <a href="#" class="am-topbar-logo">
                    <img src="{{static('assets/images/pets_logo1.png')}}" alt="">
                </a>
            </h1>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#doc-topbar-collapse-5'}">
                <span class="am-sr-only">
                    导航切换
                </span>
                <span class="am-icon-bars">
                </span>
            </button>
            <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse-5">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li >
                        <a href="/">
                            首页
                        </a>
                    </li>
                    <li >
                        <a  href="/trends/">
                            发现萌宠
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/userinfo/">
                            个人中心
                        </a>
                    </li>
                    <li><form action="/searchlist/" method="post" style="margin: auto 0;">
                        <!-- <span class="keywords"><h1>请输入关键字：</h1></span><br/> -->
                        <input type="text" id="search-text" name="q" placeholder="请输入关键字">
                        <input type="submit" id='search-button'></input>
                        <p><span class="serch_res" id='search-result'></span></p>
                    </form></li>
                </ul>
                <div class="user_login fr" style="display: block;">
                    {% if user.default_image == '' %}
                <img src="{{static('assets/images/default_avatar.jpeg')}}" alt="用户图标">
                {% else %}
                    <img src="{{ user.default_image.url }}" alt="用户图标">
                {% endif %}
                    <a href="#">用户[[ username ]]</a>
                    <a href="/logout/">退出</a>
                </div>
            </div>
        </div>
    </header>

    <div data-am-widget="tabs" class="am-tabs am-tabs-d2 am_news_tab">
        <!-- <ul class="am-tabs-nav am-cf am_cf">
          <li class="am-active">
            <a href="[data-tab-panel-0]">全部</a>
          </li>
          <li class="">
            <a href="[data-tab-panel-1]">新鲜事</a>
          </li>
          <li class="">
            <a href="[data-tab-panel-2]">涨知识</a>
          </li>
      
        </ul> -->
        <div class="am-tabs-bd">
          <div data-tab-panel-0 class="am-tab-panel am-active">
          <div class="am-list-news-bd am_news_list_all">
          <ul class="am-list">
            <!--缩略图在标题左边-->
              {% for trend in contacts %}
                  {% if trend.imginfo_set.count() == 0  %}

                      <li class="am-g am-list-item-desced am_list_li">
              <div class=" am-list-main">
                <h3 class="am-list-item-hd am_list_title am_list_title_s">
                  <a href="/trendsdetail/{{ trend.id }}/" target="_Blank" class="">{{ trend.title }}</a><span style="color: #0b2e13">#{{ trend.channel_id.channel_name }}</span>
                </h3>
                <div class="am_list_author"><a href="/personinfo/{{ trend.user_id.id }}/" target="_blank"><span class="am_list_author_ico" style="background-image: url(img/tx.jpg);"></span><span class="name">{{trend.user_id.username}}</span></a><span class="am_news_time">&nbsp;•&nbsp;<time class="timeago" title="2015-08-13 08:02:40 +0800" datetime="2015-08-13 08:02:40 +0800"> {{trend.create_time}}</time></span></div>

                <div class="am-list-item-text am_list_item_text">{{ trend.content[0:20] }}...</div>
              </div>
            </li>


             {% else %}
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left am_list_li">
              <div class="am-u-sm-3 am-list-thumb am_list_thumb">
                  <img src="{{trend.imginfo_set.first().img.url}}" class="am_news_list_img" alt="{{ trend.title }}"
                  />
              </div>
              <div class=" am-u-sm-9 am-list-main am_list_main">
                <h3 class="am-list-item-hd am_list_title">
                  <a href="/trendsdetail/{{ trend.id }}/" target="_Blank" class="">{{trend.title}}</a><span style="color: #0b2e13">#{{ trend.channel_id.channel_name }}</span>
                </h3>
                <div class="am_list_author"><a href="/personinfo/{{ trend.user_id.id }}/" target="_blank"><span class="am_list_author_ico" style="background-image: url(img/tx.jpg);"></span><span class="name">{{trend.user_id.username}}</span></a><span class="am_news_time">&nbsp;•&nbsp;<time class="timeago" title="2015-08-13 08:02:40 +0800" datetime="2015-08-13 08:02:40 +0800"> {{trend.create_time}}</time></span></div>
                <div class="am-list-item-text am_list_item_text ">
                    {{ trend.content[0:20] }}...
                </div>
              </div>
            </li>
                  {% endif %}
              {% endfor %}

          </ul>
        </div>
        </div>
          <div data-tab-panel-1 class="am-tab-panel ">
       </div>
      </div>

      </div>
      <div class="footer" style="text-align: center;">
        <span style="color: blanchedalmond;">Designed with <i class="fas fa-heart"></i> by catnip</span>

    </div>
    </div></div>
	<script type="text/javascript" src="{{static('assets/js/jquery-1.12.4.min.js')}}"></script>
<script>
    $(document).ready(function(){
        $("#search-text").keyup(function(){
            var q = $("#search-text").val();                         //获取搜索框输入的值
            $.get("/searchdetail/",{'q':q}, function(data){               //参数：发送的url；传入的数据；请求成功后的调用函数（data即是试图函数返回的json格式数据）详情
                for (var i = data.length - 1; i >= 0; i--) {
                    $('#search-result').append(data[i]+'<br/>')      //加入到search-result部分显示
                };
            })
        });
        $('#search-text').keydown(function(){
            $('#search-result').empty();
        })
        $('#search-text').blur(function(){
            $('#search-result').empty();
        })
    });
</script>
</body>
</html>