<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>

    <link rel="stylesheet" type="text/css" href="{{static('assets/css/reset.css')}}">
	<link rel="stylesheet" type="text/css" href="{{static('assets/css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static('assets/css/jquery.pagination.css')}}">
	<script type="text/javascript" src="{{static('assets/js/jquery-1.12.4.min.js')}}"></script>
	<script type="text/javascript" src="{{static('assets/js/jquery.form.min.js')}}"></script>
    <script type="text/javascript" src="{{ static('assets/js/vue-2.5.16.js')}}"></script>
    <script type="text/javascript" src="{{ static('assets/js/main.js')}}"></script>
    <script type="text/javascript" src="{{ static('assets/js/axios-0.18.0.min.js')}}"></script>
	<script type="text/javascript" src="{{static('assets/js/jquery.pagination.min.js')}}"></script>
    <script type="text/javascript" src="{{static('assets/js/user_follow.js')}}"></script>
    <style>
        .avatar{
            width: 50px;
            height: 50px;
        }
    </style>
</head>
<body class="inframe_body">
        <h3 class="common_title">我的关注</h3>
        <ul class="card_list_con">
            {% if user_fol.count == 0 %}
                <span>您没有关注任何人</span>
            {% else %}
                {% for i in user_list %}
            <li class="author_card card_list">
                <a href="/personinfo/{{ i.id }}/" target="_blank">
                    {% if  i.default_image == '' %}
                    <img src="{{static('assets/images/default_avatar.jpeg')}}" alt="author_pic" class="avatar">
                    {% else %}
                    <img src="{{i.default_image.url}}" alt="author_pic" class="avatar">
                    {% endif %}

                </a>
                <a href="/personinfo/{{ i.id }}/" target="_blank" class="author_name">{{ i.username }}</a>
                <div class="follows"><span>粉丝</span><b>1</b></div>
{#                <a href="javascript:;" class="focus fr">关注</a>#}
{#                <a href="javascript:;" class="focused fr"><span class="out">已关注</span><span class="over">取消关注</span></a>#}
            </li>
                {% endfor %}


{#            <li class="author_card card_list">#}
{#                <a href="#" target="_blank" class="author_pic"><img src="../images/cat.jpg" alt="author_pic"></a>#}
{#                <a href="#" target="_blank" class="author_name">张大山</a>#}
{#                <div class="follows"><span>粉丝</span><b>36</b></div>#}
{#                <a href="javascript:;" class="focus fr">关注</a>#}
{#                <a href="javascript:;" class="focused fr"><span class="out">已关注</span><span class="over">取消关注</span></a>#}
{#            </li>#}
            {% endif %}



        </ul>
        
        
{#        <div id="pagination" class="page"></div>#}
        <script>
            $(function() {
                $("#pagination").pagination({
                    currentPage: 2,
                    totalPage: 3,
                    callback: function(current) {
                        alert('ok!');
                    }
                });
            });
        </script>
</body>
</html>